.task__input {
    width: 200px;
    border: none;
    outline: none;
    border-radius: 50px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.true {
    text-decoration: line-through;
}
